/*---header & carousel---*/
      #h1
		{
			
			    text-align: center;
                font-weight: 900;
                font-size: xx-large;
			font-variant: small-caps;
			text-transform: capitalize;
        }
		#h2
		{
			text-align: center;
             font-family: initial;
             font-weight: 600;
			font-size: medium;
		}
		.head1
		{
			background-color: beige;
            padding-bottom: 2rem;
		}
		.header
		{
			background-color: darksalmon;
			padding-bottom: 0rem;
		}
		.nav-link
		{
			    color: white ! important;
               font-weight: 900;
		}
/*-----carousel--------------*/
		.slide
		{
			height: 400px;
		}
		.carousel-inner
		{
		  padding: 5px;
		}
		.carousel-item
		{
         border: 1px solid black ;
		}
		.row
		{
		 margin-top: 2rem;
		}
/*----------mid-heading(frist-portion)-----------*/
	 #heading
		{
    font-size: x-large;
    text-align: center;
    color: sienna;
    margin-bottom: 3rem;
    font-family: auto;
    font-weight: 600;
	text-decoration: underline;
	text-underline-offset:3px;		
     }
		.card-title
		{
			    text-align: end;
                text-transform: capitalize;
                font-variant: small-caps;
                color: peru;
                text-decoration: underline;
		}
		.card-text
		{
			 text-transform: inherit;
             font-size: large;
             font-family: ui-monospace;
		}

/*--------mid-portion second part-----------*/
.card-header
{
    font-weight: 500;
}
a:link
{
	color: red;
}
.card-body
{
	text-transform: capitalize;
    font-family: auto;
}
/*----foooter-----------*/
       #menu
		{
			height: 70px;
            width: 70rem;
            background-color: whitesmoke;
            margin-top: 1rem;
			font-weight: bold;
		}
		#creater
		{
			font-size: smaller;
            color:  burlywood;
		}
#menu a
{
	color: orange ! important;
	text-decoration: none;
}